<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>breadnime! - ad free anime</title>
    </head>
    <body>

        <nav>
            <img src="" class="logo">
            <ul id="nav-list" class="bar-container">
                <li id="trending">Trending</li>
                <li id="random">Random</li>
                <li id="genre">Genres</li>
            </ul>
        </nav>

        <section>
            <div class="gallery">
                <!-- jquery with list of divs for each anime result -->
                
            </div>
        </section>

        <footer>
            <img src="" id="footer-logo">
            <div class="footer-content">
                <h6>Built with the GoGoAnime API by users, for users.</h6>
                <h7>@breadnmkii, 2022. A CSE204 final project</h7>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../static/scripts/view.js"></script>
    </body>
</html>