<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>breadnime! - ad free anime</title>
    </head>
    <body>

        <nav>
            <img src="" class="logo">
            <ul id="nav-list" class="bar-container">
                <li id="trending">Trending</li>
                <li id="random">Random</li>
                <li id="genre">Genres</li>
            </ul>
        </nav>

        <section>
            <div class="main-content">
                <div class="search-wrapper">
                    <img src="" class="logo">
                    <form id="search">
                        <input type="text" placeholder="Search">
                    </form>
                </div>
                <h3>Ad free anime, really!</h3>
            </div>
            <div class="sub-content">
                <div id="carousel"></div>
                <div id="intro-text">
                    <h4>Ads — I get it</h4>
                    <h5>
                        We all hate them. Especially the ads that pop up most obtrusively and uninvited.
                        Fortunately, this website is here for you.
                        Enjoy streaming thousands of anime to watch and click anywhere stress (crtl+w) free.
                    </h5>
                </div>
            </div>
        </section>

        <footer>
            <img src="" id="footer-logo">
            <div class="footer-content">
                <h6>Built with the GoGoAnime API by users, for users.</h6>
                <h7>@breadnmkii, 2022. A CSE204 final project</h7>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </body>
</html>